@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 23px 80px;
}

h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32.74px;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #111517;
    background: #FAFAFA;
  }
}
