/* Header */
.darkMode {
  display: flex;
  align-items: center;
  font-size: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.darkMode p {
  margin-left: 8px;
}

/* Main */
.container {
  width: 90%;
  margin: auto;
  margin-top: 48px;
}

@media only screen and (max-width: 480px) {
  .darkMode {
    font-size: 12px;
    line-height: 16.37px;
  }
}
